<div class="mt-5 flex flex-wrap gap-4 max-sm:justify-center">
  <div class="bg-white w-44 h-60 rounded-lg"></div>

  <div class="bg-white w-44 h-60 rounded-lg"></div>

  <div class="bg-white w-44 h-60 rounded-lg"></div>

  <div class="bg-white w-44 h-60 rounded-lg"></div>

  <div class="bg-white w-44 h-60 rounded-lg"></div>
  <div class=" w-44 h-60 rounded-lg sm:hidden"></div>
  

</div>
