<a
  href="/categories/terror"
  class="bg-white w-44 h-20 rounded-xl mt-5 hover:scale-105 transition-all duration-150 text-black flex justify-center items-center text-xl font-semibold"
>
  Terror
</a>

<a
  href="/categories/drama"
  class="bg-white w-44 h-20 rounded-xl mt-5 hover:scale-105 transition-all duration-150 text-black flex justify-center items-center text-xl font-semibold"
>
  Drama
</a>

<a
  href="/categories/comedia"
  class="bg-white w-44 h-20 rounded-xl mt-5 hover:scale-105 transition-all duration-150 text-black flex justify-center items-center text-xl font-semibold"
>
  Comedia
</a>

<a
  href="/categories/romantico"
  class="bg-white w-44 h-20 rounded-xl mt-5 hover:scale-105 transition-all duration-150 text-black flex justify-center items-center text-xl font-semibold"
>
  Romantico
</a>

<a
  href="/categories/suspenso"
  class="bg-white w-44 h-20 rounded-xl mt-5 hover:scale-105 transition-all duration-150 text-black flex justify-center items-center text-xl font-semibold"
>
  Suspenso
</a>

<a
  href="/categories/accion"
  class="bg-white w-44 h-20 rounded-xl  hover:scale-105 transition-all duration-150 text-black flex justify-center items-center text-xl font-semibold"
>
  Accion
</a>

<a
  href="/categories/ninos"
  class="bg-white w-44 h-20 rounded-xl  hover:scale-105 transition-all duration-150 text-black flex justify-center items-center text-xl font-semibold"
>
  Ninos
</a>

<a
  href="/categories/adultos"
  class="bg-white w-44 h-20 rounded-xl  hover:scale-105 transition-all duration-150 text-black flex justify-center items-center text-xl font-semibold"
>
  Adultos
</a>
