---
import CardMovies from "../components/CardMovies.astro";
---

<section class="max-w-[1020px] mx-auto mt-16">
  <div class="flex justify-between items-end">
    <div class="flex justify-start items-end">
      <div class="border-l-secondary border-l-4 h-14 pl-2"></div>
      <h2 class="text-2xl text-pretty font-semibold">Todas</h2>
    </div>
    <div>
      <a href="/hash/all" class="text-secondary font-semibold text-lg mr-20 max-sm:mr-5">ver mas</a>
    </div>
  </div>
  <CardMovies />
</section>
